body {
  background-color: #15222F;
  color: white;
  overflow-x: hidden;
}

.brand-logo{
  width: 3rem;
  height: 3rem;
  text-align: center;
  margin: 2rem auto;
  display: block;
}

.container-fluid {
  padding: 5% 10%;
}

.title-archi {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 4rem;
}

.title-dex {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.sub-title {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 2rem;
}

.try-out-button {
  background-color: white;
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5rem;
  margin: 4rem 0 4rem 0;
}

.try-out-icon {
  margin-left: 2rem;
}


.update-button {
  background-color: white;
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  /* width: 100%; */
  color: black;
  opacity: 0.5;
  text-decoration: none;
}

.right-arrow {
  margin-left: 6rem;
}

.title-image {
  width: 60%;
  float: right;
  bottom: 12rem;
  left: 12rem;
  position: relative;
  z-index: -1;
}

.title-div {
  padding: 0;
}

/* Footer Styling */

.page-end {
  background-color: white;
  color: #15222F;
  padding-bottom: 1rem;
}

.footer-row {
  margin: 10% 0 0 0;
}

.footer-text {
  /* width: 80%; */
  margin: 5% auto;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  text-align: center;
}

.social-media-icons {
  margin: 1rem 2rem 2rem 2rem;
}

.social-icons {
  text-align: center;
  /* margin: 5% auto; */
}

.copyright {
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .right-arrow {
    margin: 2rem;
  }
}
